
/*         Header     */
.page {
  position: relative;
  height: 100%
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: 0;
}

.mobile-visible {
  display: none;
  visibility: hidden
}
.header {
  position: fixed;
  width: 25%;
  height: 100%;
  overflow: hidden
}

.my-photo {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 0
}

.my-photo-small {
  display: none
}
.my-photo-small {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 40px
}

.my-photo-small img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%
}
.my-photo img {
  display: block;
  margin: 0 auto;
  height: 100%;
  max-width: none;
  min-height: 550px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0)
}
/*        Navbar        */
.nav-item {
  padding: 20px;
}


/*     Page general code    */
.site-main {
  height: 100%;
  margin-left: 25%;
  position: relative;
  background-color: #fff;
  border-left: 5px solid #eee;
  -webkit-box-shadow: -10px 0 20px 0 rgba(0,0,0,.04);
  -moz-box-shadow: -10px 0 20px 0 rgba(0,0,0,.04);
  box-shadow: -10px 0 20px 0 rgba(0,0,0,.04)
}

.site-title-block {
  position: relative;
  z-index: 1;
  margin: 30px 20px 10px;
  text-align: center
}
.pt-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: -5px;
    padding-right: 5px;
    /*     Zero difference so far ( 2:31 PM 13/12/21   */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
    /*     Zero difference so far ( 2:31 PM 13/12/21   */
}
/*       End of page general code     */



@media only screen and (max-width: 991px) {
  .mobile-visible {
      display:block;
      visibility: visible;
  }
 
  .header {
      position: relative;
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #f5f5f5;
      background-color: #fff;
      z-index: 100;
  }
  .navbar {
    position: fixed;
    width: 100%;
  }
  .site-title-block {
      margin: 0 20px;
      text-align: left
  }

  .site-title-block .site-title {
      display: inline-block;
      font-size: 18px;
      margin: 0;
      line-height: 50px
  }

  .site-title-block .site-description {
      display: none
  }

  .subpage-block {
      margin-bottom: 40px
  }

  .my-photo {
      display: none
  }

  .my-photo img {
      display: none
  }
  .site-main {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}


.pt-wrapper {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.pt-page {
  padding: 15px 20px 60px;
  margin-top: 10%;
}


.blog-post-content {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px
}
}
/*        Carousel   Section   */
#carouselExampleControls {
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  
}

.carousel-inner{
  height: 100px;
}
.carousel-caption{
  color: #000;
  top: 20%;
}
h6 {
  font-size: x-small;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

 
 /*           Social media buttons      */
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
 
 
 
 #social-sidebar {
 right: 0;
 position: fixed;
 top: 50%;
 list-style: none;
 margin-right: 1%;
 }
 
 #social-sidebar a {
 
 color: #000;
 display: block;
 height: 45px;
 width: 45px;  
 font-size: 20px;
 line-height: 50px;
 position: relative;
  cursor: pointer;
   border-radius: 50%;
  text-decoration: none;
  text-align: center;
 }
 #social-sidebar a:hover span {
 right: 100%;
 opacity: 1;
 }
 #social-sidebar a span {
  font: 12px "Open Sans", sans-serif;
  text-transform: uppercase;
 border-radius: 3px;
 line-height: 24px;
 right: 50%;
 margin-top: -16px;
 opacity: 0;
 position: absolute;
 transition: opacity .3s, left .4s;
 top: 50%;
 z-index: -1;
 }
 
 
 #social-sidebar a[class*="twitter"]:hover,
 #social-sidebar a[class*="twitter"] span,
 #social-sidebar a[class*="twitter"] span:before {background: #00aced;
 margin-right: 10%;}
 
 #social-sidebar a[class*="facebook"]:hover,
 #social-sidebar a[class*="facebook"] span,
 #social-sidebar a[class*="facebook"] span:before {background: #3B5998;
 margin-right: 10%;}
 
 #social-sidebar a[class*="instagram"]:hover,
 #social-sidebar a[class*="instagram"] span,
 #social-sidebar a[class*="instagram"] span:before {background: #E34429;
  margin-right: 10%;}
 
 #social-sidebar a[class*="dribbble"]:hover,
 #social-sidebar a[class*="dribbble"] span,
 #social-sidebar a[class*="dribbble"] span:before {background: #ea4c89;
  margin-right: 10%;}
 
 #social-sidebar a[class*="dropbox"]:hover,
 #social-sidebar a[class*="dropbox"] span,
 #social-sidebar a[class*="dropbox"] span:before {background: #8DC5F2;
  margin-right: 10%;}
 
 #social-sidebar a[class*="github"]:hover, 
 #social-sidebar a[class*="github"] span,
 #social-sidebar a[class*="github"] span:before {background: #9C7A5B;
  margin-right: 10%;}
 
